<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Добавление пользователя</title>
</head>
<body>
    <h1>Добавление пользователя</h1>
    <form method="post" action="/add_user">
        <label for="last_name">Фамилия:</label>
        <input type="text" id="last_name" name="last_name" required><br><br>

        <label for="first_name">Имя:</label>
        <input type="text" id="first_name" name="first_name" required><br><br>

        <button type="submit">Добавить</button>
    </form>
</body>
</html>